<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body style="background-color:#BADBED">
  <img src="static/amsler.png" alt="amsler">
	<p style = "color:black; font-size:22px">
		
	 Directions<br>
		1.) Place the grid a comforterable reading distance from your face (about 12-14 inches away).Also, wear any reading glassses as you normally would.<br>
		2.) Cover one eye and stare at the black dot in the middle of the graph for 5-10 seconds.<br>
		3.) Cover the opposite eye and repeat the test.<br>
		
		If the lines look distorted, wavy, or if parts of the visual feild are missing you need to see a doctor ASAP.</p>
	<form action = '/' >
		<button name="submit" class="action_btn submit" type="submit" value="Color">Back</button>
  </form>
</body>
</html>